{% extends "base.html" %}
{% load static %} 
{% block content %}
    <ul>
        <li><a href="{% url 'login' %}">Log in</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        <li><a href="{% url 'about' %}">About Us</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Help</a>
            <div class="dropdown-content">    
                <a href="{% url 'help' %}">FAQ/Contact Us</a>
                <a href="{% url 'password_reset' %}">Forgot password?</a></li>
            </div>
    </ul>
<!-- 
    <div>
        <img class = "logo" src = "{% static 'logo.svg' %}" alt="/"> 
    </div>
   -->
{% endblock content %}