{% extends "base.html" %}
{% load static %} 
{% block content %} 
    <h1>Portal Page</h1>
    <div >
        <span >
            {% if request.user.is_authenticated %}
                Hello {{user.get_username }},
            {% else %}
                <a href="{% url 'login' %}">Log-in</a>
            {% endif %}
        </span>
    </div>
    <div>
        {% if request.user.is_authenticated %}
        <ul ></ul>
            <li {% if section == "dashboard" %}class="selected"{% endif %}>
                <a href="{% url 'portalpage' %}">Portal Page</a>
            </li>
            <li {% if section == "createprofile" %}class="selected"{% endif %}>
                <a href="{% url 'profile:createprofile' %}">Create Profile</a>
            </li>
            <li {% if section == "userupdate" %}class="selected"{% endif %}>
                <a href="{% url 'account:view' user_id=request.user.id %}">View Account</a>
            </li>
            <li {% if section == "viewprofile" %}class="selected"{% endif %}>
                <a href="#">View Profile</a>
            </li>
            <li {% if section == "friendrequest" %}class="selected"{% endif %}>
                <a href="#">Friendrequest</a>
            </li>
            <li {% if section == "friends" %}class="selected"{% endif %}>
                <a href="#">Friends</a>
            </li>
            <li {% if section == "clubs" %}class="selected"{% endif %}>
                <a href="{% url 'clubs' %}">Clubs and Organizations</a>
            </li>
            <li {% if section == "Reset Password" %}class="selected"{% endif %}>
                <a href="{% url 'password_reset' %}">Reset Password</a>
            </li>
            <li {% if section == "logout" %}class="selected"{% endif %}>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
        {% endif %}
    </div>
{% endblock content %}
