/* CSS styles for the template */
@charset "utf-8";

.boxheader {
    background-color: #cc112a;
    min-height: 80px;
    display: flex;
    align-items: center;
}

.logo {
    width: 200px;
}

.banner {
    width: 400px;
}

h1 {
    font-size: 60px;
    font-family: Arial;
    color: #ff0000;
    text-transform: uppercase;
    text-align: left;

}

h2 {
    font-size: 60px;
    font-family: Arial;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
}

.p1 {
    font-size: 22px;
    font-family: 'Taviraj';
}

.access {
    align-items: left;
}

.ul2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #cc112a;
    position: sticky;
    top: 208px;
    width: 100%;
    height: 56px;
}

.li2 {
    float: left;
}

.li2 a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropbtn2 {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li2 a:hover {
    background-color: #800000;
}

.dropdown2:hover .dropbtn2 {
    background-color: #800000;
}

.dropdown2 {
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #cc112a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content2 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content2 a:hover {
    background-color: #800000;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.li2 a:hover:not(.active) {
    background-color: #800000;
}

.active2 {
    background-color: #800000;
}

.li2 .active {
    background-color: #800000;
}

ul.clubs {
    border-left: 5px solid red;
    width: 50%;
    list-style-type: disc;
    margin: auto;
    padding: 10px 20px;
    background-color: white;

}

li.clubs {
    background: white;
    color: black;
    padding: 5px;
}

ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #cc112a;
    height: 100%;
    position: fixed;
    overflow: auto;

}


li a,
.dropbtn {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 25px;
    text-decoration: none;
    background-color: #cc112a;

}


li a.active {
    background-color: #800000;
    color: white;
}

li a:hover:not(.active),
.dropdown:hover .dropbtn {
    background-color: #800000;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: white;

}

li.dropdown {
    display: inline-block;
    color: white;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cc112a;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #800000;
    color: white;

}

.dropdown:hover .dropdown-content {
    display: block;
    color: white;

}


.photobox {
    display: flex;
    align-items: center;
}

.myForm {
    font: 1.4em 'Taviraj';
    display: grid;
    border: 2px solid black;
    grid-template-columns: [labels] auto [controls] 1fr;
    grid-auto-flow: row;
    grid-gap: .8em .5em;
    background: rgb(80, 70, 70);
    background: linear-gradient(139deg, rgba(80, 70, 70, 0.9500175070028011) 0%, rgba(186, 165, 165, 0.938813025210084) 57%, rgba(199, 59, 66, 0.9360119047619048) 100%);
    padding: 1.2em;
    max-width: 35%;
}

.myForm>label,
.myForm>fieldset {
    grid-column: labels;
    grid-row: auto;
}

.myForm>input,
.myForm>select,
.myForm>textarea {
    grid-column: controls;
    grid-row: auto;
    padding: .4em;
    border: 0;
}

.myForm>input[type=text],
input[type=CharField] {
    border: 2px solid red;
    border-radius: 4px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.myForm>input[type=submit],
input[type=reset] {
    border: none;
    background-color: darkred;
    font: 1em 'Taviraj';
    grid-column: span 1;
    grid-row: auto;
    padding: 16px 32px;
    color: white;
    margin: 4px 2px;
    cursor: pointer;
}

.myForm>input[type=email] {
    border: 2px solid red;
    background-color: white;
    font: 1em 'Taviraj';
    grid-column: span 1;
    padding: .3em;
    color: black;
}

.myForm>input[type=password] {
    border: 2px solid red;
    background-color: white;
    font: 1em 'Taviraj';
    grid-column: span 1;
    padding: .3em;
    color: black;
}

.button {
    border: none;
    font: 1em 'Taviraj';
    color: white;
    background-color: #800000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.button1 {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* things we can do when the input box is selected
.myForm>input[type=text]:focus {
    border: 3px solid #800000;
    background-color: lightcoral;
}
*/
.myForm>fieldset {
    grid-column: span 2;
}

.myForm>button {
    background-color: darkred;
    color: white;
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.myForm>button:hover {
    background-color: darkred;
    color: white;
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 4px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
}

.myForm>textarea {
    min-height: 3em;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #cc112a;
    border-radius: 4px;
    background-color: white;
}

.myButton {
    -webkit-appearance: none;
    width: auto;
    min-width: 100px;
    border-radius: 24px;
    text-align: center;
    padding: 15px 40px;
    margin-top: 5px;
    background-color: #800000;
    color: #fff;
    font-size: 14px;
    margin-left: auto;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, .13);
    border: none;
    transition: all .3s ease;
    outline: 0;

}

.myButton:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .65);

}

.myButton:active {
    transform: scale(.99);
}

.wrapper {
    margin-top: auto;
    min-height: 80px;
    display: flex;
    width: 0px;
}

.footer {
    text-align: center;
    font-family: Arial;
    background-color: #ff0000;
}

.myInputClass {
    width: 25%;
    padding: 12px 20px;
    font: 1.2em 'Taviraj';
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.myInputClass:focus {
    border: 3px solid #555;
}

.myEmailClass {
    width: 75%;
    padding: 12px 20px;
    font: 1.2em 'Taviraj';
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.myEmailClass:focus {
    border: 3px solid #555;
}

.myAreaClass {
    width: 75%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    font-family: 'Taviraj';
    resize: none;
}

/* CSS styles for message */
.remove-default-btn {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.edit-color {
    color: #333;
}

.post-link {
    text-decoration: none;
}

.post-text {
    padding-top: 0.5rem;
}

.post-img {
    float: left;
    margin-right: 1rem;
}

.post-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.child-comment {
    margin-left: 2rem;
}

.notification-badge {
    transition: 0.3s;
}

.notification-badge:hover {
    cursor: pointer;
    opacity: 0.75;
    transition: 0.3s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 350px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 0.9rem;
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-item-parent {
    position: relative;
    display: block;
}

.dropdown-item-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.8rem;
    padding-right: 5px;
    transition: 0.3s
}

.dropdown-item-close:hover {
    color: rgb(180, 25, 25);
    transition: 0.3s;
    cursor: pointer;
}

.inbox-icon-container {
    margin-right: 15px;
}

.inbox-icon {
    color: #333;
    transition: 0.5s;
}

.inbox-icon:hover {
    transition: 0.5s;
}

.empty-text {
    color: #777;
    font-size: 1.5rem;
    text-align: center;
}

.sent-message {
    background-color: #f3f3f3;
    border-radius: 30px;
    padding: 10px 25px;
    width: 35%;
}

.received-message {
    background-color: rgb(1, 196, 255);
    color: #fff;
    border-radius: 30px;
    padding: 10px 25px;
    width: 35%;
}

.message-receiver-container {
    margin-left: auto;
    margin-right: 0;
}

.message-image {
    border-radius: 10px;
    max-width: 35%;
    height: auto;
}

.inbox-icon {
    margin-right: 5px;
}