/* CSS styles for the template */
@charset "utf-8";
.boxheader{
    background-color: #cc112a;
    min-height:80px;
    display: flex;
    align-items: center;
}
.logo{
    width: 200px;
}
.banner{
    width: 400px;
}
h1{
    font-size:60px;
    font-family:Arial;
    color:#ffffff;
    text-transform:uppercase;
    text-align:left;

}
.access{
    align-items:left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #cc112a;
}
li a, .dropbtn {
    display: block;
    color:#ffffff;
    padding: 8px 16px;
    font-size: 20px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #800000;
    color: white;
}
li.dropdown {
    display:block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cc112a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}
.dropdown-content a {
    color:rgb(255, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display:block;
    text-align: left;
}
.dropdown-content a:hover {background-color:#800000;}
.dropdown:hover .dropdown-content {
    display:block;
}

.wrapper{
    margin-top:auto;
    min-height:80px;
    display: flex;
    width:0px;
}
.footer{
    text-align:center;
    font-family:Arial;
    background-color:#ff0000;
}