{% extends "base2.html" %}
{% load static %}
{% block content %}
<style>
	* {

		box-sizing: border-box;

	}

	.column {
		float: left;
		padding: 10px;
		height: 1000px;
	}

	/* Left and right column */
	.column.side {
		background: url("{% static 'redchatbg.jpg' %}");
		width: 25%;
	}

	/* Middle column */
	.column.middle {
		width: 50%;
		font-family: 'Taviraj';
		background: rgb(21, 37, 63);
		background: linear-gradient(180deg, rgba(21, 37, 63, 0.7959558823529411) 0%, rgba(157, 158, 162, 0.8687850140056023) 29%, rgba(198, 59, 66, 0.8379726890756303) 100%);
	}

	/* Clear floats after the columns */
	.row:after {
		content: "";
		display: table;
		clear: both;
	}

	@media (max-width: 600px) {

		.column.side,
		.column.middle {
			width: 100%;
		}
	}

	.pchatme {
		border-radius: 15px 50px 30px;
		background: #CDB0B4;
		padding: 20px;
		color: black;

	}

	.pchatyou {
		border-radius: 50px 15px 30px 50px;
		background: #7A8C90;
		padding: 20px;
		color: black;

	}
</style>
<div class="row">
	<link href='https://fonts.googleapis.com/css?family=Taviraj' rel='stylesheet'>
	<div class="column side"></div>
	<center>
		<div class="column middle">
			<div>
				<div style="font-size:20px;">
					{% if thread.receiver == request.user %}
					<h3> @{{ thread.user }}</h3>
					{% else %}
					<h3> @{{ thread.receiver }}</h3>
					{% endif %}
				</div>
			</div>

			{% if message_list.all.count == 0 %}
			<div>
				<div>
					<p style="font-family: 'Taviraj';">No Messages Yet</p>
				</div>
			</div>
			{% endif %}

			{% for message in message_list %}
			<p style="text-align:left;"><b>{{ message.date }}: </b></p>
			<div>
				<div>
					{% if message.sender_user == request.user %}
					<div>
						<p class="pchatme">{{ message.body }}</p>
					</div>
					{% elif message.receiver_user == request.user %}
					<div>
						<p class="pchatyou">{{ message.body }}</p>
					</div>
					{% endif %}
				</div>
			</div>
			{% endfor %}

			<div>
				<div>
					<form method="POST" action="{% url 'message:create-message' thread.pk %}"
						enctype="multipart/form-data">
						{% csrf_token %}
						{{ form }}
						<div>
							<button class="button button2" type="submit">Send</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</center>
	<div class="column side"></div>
</div>

{% endblock %}