{% extends "base.html" %}
{% load static %} 
{% block content %} 

<body>
  <center>
    <form method="post">
      <h1>Update Profile</h1>
      {% csrf_token %}
      <br>
				<p>Major</p> {{ profile_form.major }}
      <br>
      <p>Pronouns</p> {{ profile_form.pronouns }}
      <br>
      <p>Hobbies</p>{{ profile_form.hobbies }}
      <br>
      <p>Bio</p>{{ profile_form.bio }}
      <br>
      <p>Photo</p>{{ profile_form.photo }}
      <button type="submit">Save changes</button>
    </form>
  </center>
</body>

{% endblock content %}