{% extends "base2.html" %}
{% load static %}
{% block content %}
<link href='https://fonts.googleapis.com/css?family=Taviraj' rel='stylesheet'>
<style>
  * {

    box-sizing: border-box;


  }

  h1 {
    color: #800000;
    font-family: 'Taviraj';
    font-size: 40px;
  }

  .column {
    float: left;
    padding: 10px;
    height: 1000px;
    font-family: 'Taviraj';
  }

  /* Left and right column */
  .column.side {
    background: url("{% static 'redandblackabstract.jpg' %}");
    width: 25%;
  }

  /* Middle column */
  .column.middle {
    width: 50%;
    color: white;
    background: rgb(17, 16, 16);
    background: linear-gradient(180deg, rgba(17, 16, 16, 1) 0%, rgba(60, 46, 46, 0.938813025210084) 36%, rgba(215, 29, 38, 0.9360119047619048) 100%);
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media (max-width: 600px) {

    .column.side,
    .column.middle {
      width: 100%;
    }
  }

  h3 {
    text-align: left;
    font-size: 30px;
    color: #800000;
  }
</style>


<div class="row">
  <div class="column side"></div>

  <div class="column middle">

    <center>
      <h1>Update Profile</h1>
      <div style="font-family: 'Taviraj';">
        <form class="myForm" style="max-width:100%;" method="post" enctype="multipart/form-data">

          <div class="photobox">
            {% csrf_token %}
            <div>
              <p>Photo</p>{{ profile_form.photo }}
            </div>
            <div>
              <p>First Name: {{ profile_form.firstname }}</p>
              <p>Last Name: {{ profile_form.lastname }}</p>
              <p>Home Country: {{ profile_form.hometown }}</p>
              <p>Major: {{ profile_form.major }}</p>
              <p>Class Year: {{ profile_form.year }}</p>
              <p>Pronouns: {{ profile_form.pronouns }}</p>
              <p>Hobbies: {{ profile_form.hobbies }}</p>
              <p>Bio: {{ profile_form.bio }}</p>
              <br>
              <button class="button button2" type="submit">Save changes</button>
            </div>
        </form>
      </div>
    </center>
  </div>

  <div class="column side"></div>
</div>





{% endblock content %}