{% extends "base.html" %}
{% load static %} 
{% block content %} 


<body>
    <center>
        <div>
            <!-- If Auth user is viewing their own profile -->
            <h1>Profile Details</h1>
                <br>
                <p>Major:</p> {{ request.user.user_profile.major }}
                <br>
                <p>Pronouns:</p> {{ request.user.user_profile.pronouns}}
                <br>
                <p>Hobbies:</p> {{ request.user.user_profile.hobbies}}
                <br>
                <p>Bio:</p> {{ request.user.user_profile.bio}}
                <br>
                <p>Photo:</p>
                <img src="{{ request.user.user_profile.photo.url}}" alt="connect" style="max-height:300px">
            <div >
                <a href="{% url 'profile:createprofile'%}">Update</a>
                <a href="{% url 'portalpage' %}">Portal Page</a>
            </div>
        </div>

    </center>
</body>
{% endblock content %}
