{% extends "base.html" %}
{% load static %} 
{% block content %} 
  {% if query %}
    <h1>Students majoring in "{{ query }}"</h1>
    <h3>
      {% with results.count as total_results %}
        Found {{ total_results }} result{{ total_results|pluralize }}
      {% endwith %}
    </h3>
    {% for profiles in results %}
      <h4>
        <a href ="{% url 'account:view' user_id=account.0.id %}">
          {{ profiles.user }}
        </a>
      </h4>
    {% empty %}
      <p>There are no results for your query.</p>
    {% endfor %}
    <p><a href="{% url "profile:searchbyhobbies" %}">Search again</a></p>
  {% else %}
    <h1>Search by Hobbies</h1>
    <form method="get">
      {{ form.as_p }}
      <input type="submit" value="Search">
    </form>
  {% endif %}
{% endblock content %}