{% extends "base.html" %}
{% load static %} 
{% block content %} 


<body>
    <center>
        <div>
            <!-- If Auth user is viewing their own profile -->
            <p>Profile Details:</p>
            <p>Major:</p>
            {% if is_self %}
                <p>{{bio}}<p>
            {% else %}
                    {% if hide_email %}
                        <h5>**********</h5>
                    {% else %}
                        <p>{{email}}</p>
                    {% endif %}
            {% endif %}
            <p >Username:</p>
            <p>{{username}}<p>
            {% if is_self %}
            <a href="#">Update</a>
            <div >
                <a href="#">Change password</a>
            </div>
            {% endif %}
        </div>

    </center>
</body>
{% endblock content %}
