{% extends "base.html" %}
{% block content %}



  <h1>Log-in</h1>
  <p>Please, use the following form to log-in:</p>

  <form method="post">
    {% csrf_token %}
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    {% for field in login_form %}
    <p>
    {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    </p>
    {% endfor %}
    {% if login_form.non_field_errors %}
    <div style="color: red">
    <p>{{login_form.non_field_errors}}</p>
    </div>
    {% endif %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
  </form>
  <!-- <form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Log in"></p>
  </form> -->
{% endblock %}