{% extends "base.html" %}
{% load static %} 
{% block content %} 
<body>
	<center>
           <p>Registeration Form<p>
		    <form method="post">
				{% csrf_token %}
				<br>
				<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
				<br>

				<input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required>
				<br>

				<input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password" required>
				<br>
				<input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Confirm password" required>
				<br>
				{% for field in registration_form %}
				<p>
				{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
				{% endfor %}
				</p>
				{% endfor %}
				{% if registration_form.non_field_errors %}
				<div style="color: red">
					<p>{{registrationform.non_field_errors}}</p>
				</div>

				{% endif %}

				<button type="submit">Register</button>

			</form>
	</center>
</body>

     
{% endblock content %}