{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
	<h1>Search Results</h1>
	<div >
		{% if accounts %}
		<div>
		{% for account in accounts %}
		<div>
			<a href="{% url 'account:view' user_id=account.0.id %}">
				<div>
					<p>{{account.0.username}}</p>
					{% if account.1 %}
					{% endif %}	
				</div>
			<div>
				{% if account.1 %}
					<div>
						<p>
							Friends 
						</p>
						<span>
						</span>
					</div>
				{% else %}
					{% if account.0 !=  request.user %}
						<div>
							<p>
							
							</p>
						</div>
					{% endif %}
				{% endif %}
				{% if account.0 == request.user %}
					<div>
						<p>
							This is you your account!
						</p>
					</div>
				{% endif %}
			</div>
		</div>
		{% endfor %}
		
		{% else %} <!-- If no friends -->
		<div>
			<p>No results</p>
		</div>
		{% endif %}
		</div>
	</div>
	
</div>
{% endblock content %}


 

