{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
	{% if accounts %}
	{% for account in accounts %}
	<a href="{% url 'account:view' user_id=account.0.id %}">
	    <div>
			<img class="img-fluid profile-image" src="{{account.0.profile_image.url}}" alt="">
		</div>
	</a>
	<a href="{% url 'account:view' user_id=account.0.id %}">
		<div>
			<h1>
				{{account.0.username}}
			</h1>
			{% if account.1 %}
			<p>
				<a href="#" onclick="createOrReturnPrivateChat('{{account.0.id}}')">Send a Message</a>
			</p>
			{% endif %}
		</div>
    </a>
	<div>
		{% if account.1 %}
		<diV>
			<p>
				Friends
			</p>
		</diV>
		{% else %}
				{% if account.0 !=  request.user %}
			<div>
				<p>
					Not Friends 
				</p>
				
			</div>
				{% endif %}
		{% endif %}
		{% if account.0 == request.user %}
			<div>
				<p>
					This is you!
				</p>
			</div>
		{% endif %}	
	</diV>
</div>
{% if forloop.counter|divisibleby:2 %}
{% endif %}
{% endfor %}
{% else %}
<div>
	<p>No results</p>
</div>
{% endif %}
</div>



{% endblock content %}


 

