{% extends 'base2.html' %}
{% load static %}
{% block content %}
<link href='https://fonts.googleapis.com/css?family=Taviraj' rel='stylesheet'>
<style>
	* {

		box-sizing: border-box;

	}

	h1 {
		color: white;
		font-family: 'Taviraj';
		font-size: 40px;
	}

	.column {
		float: left;
		padding: 10px;
		height: 1000px;
	}

	/* Left and right column */
	.column.side {
		background: url("{% static 'redandwhiteflowers.jpg' %}") repeat center;
		background-size: 550px;
		width: 25%;
	}

	/* Middle column */
	.column.middle {
		width: 50%;
		font-family: 'Taviraj';
		background: rgb(80, 70, 70);
		background: linear-gradient(325deg, rgba(80, 70, 70, 0.9500175070028011) 0%, rgba(186, 165, 165, 0.938813025210084) 57%, rgba(199, 59, 66, 0.9360119047619048) 100%);
	}

	/* Clear floats after the columns */
	.row:after {
		content: "";
		display: table;
		clear: both;
	}

	@media (max-width: 600px) {

		.column.side,
		.column.middle {
			width: 100%;
		}
	}
</style>
<div class="row">
	<div class="column side"></div>
	<center>
		<div class="column middle">
			<h1>Check them out!</h1>
			<div>
				{% if accounts %}
				<div class="myForm">
					{% for account in accounts %}
					<div>
						<a href="{% url 'account:view' user_id=account.0.id %}">
							<button class="button button2">{{account.0.username}}</button>

							{% if account.1 %}
							{% endif %}

							<div>
								{% if account.1 %}
								<div>
									<p>
										Friends
									</p>
									<span>
									</span>
								</div>
								{% else %}
								{% if account.0 != request.user %}
								<div>
									<p>

									</p>
								</div>
								{% endif %}
								{% endif %}
								{% if account.0 == request.user %}
								<div>
									<p>
										(This is you!)
									</p>
								</div>
								{% endif %}
							</div>
					</div>
					{% endfor %}

					{% else %}
					<!-- If no friends -->
					<div>
						<p>No results, search again!</p>
					</div>
					{% endif %}
				</div>
			</div>

		</div>
	</center>
	<div class="column side"></div>
</div>
{% endblock content %}