{% extends "base2.html" %}
{% load static %}
{% block content %}
<link href='https://fonts.googleapis.com/css?family=Taviraj' rel='stylesheet'>
<style>
	html {
		background: rgb(127, 94, 157) no-repeat;
		background: linear-gradient(329deg, rgba(127, 94, 157, 0.8323704481792717) 0%, rgba(109, 122, 170, 0.8239670868347339) 28%, rgba(198, 59, 66, 0.8379726890756303) 100%);
	}

	h1 {
		color: white;
		font-family: 'Taviraj';
		font-size: 40px;
		text-align: center;
	}
</style>
<center>
	<div>
		<div>
			<h1>Your password has been updated.</h1>

		</div>

</center>
{% endblock %}