{% extends "base.html" %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<link href='https://fonts.googleapis.com/css?family=Taviraj' rel='stylesheet'>
<style>
  ul {
    position: fixed;
    top: 625px;
    width: 700px;
    font-size: 16px;
    background-color: white;
  }
</style>
{% if validlink %}
<center>
  <h1>Set a new password!</h1>
  <form method="POST" class="myForm">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="button button2" type="submit">Change my password!</button>
  </form>

  {% else %}

  <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
    reset.
  </p>

  {% endif %}
</center>
{% endblock %}