{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html>
{% block content %}

<head>
  <meta charset="utf-8">
  <title>Password Reset</title>

  <style>
    .p1 {
      font-family: 'Taviraj';
      font-size: 22px;
    }
  </style>
</head>

<nav>
  <ul>
    <li><a href="{% url 'login' %}">Log in</a></li>
    <li><a href="{% url 'register' %}">Register</a></li>
    <li><a href="{% url 'about' %}">About Us</a></li>
    <li class="dropdown">
      <a class="active" href="javascript:void(0)" class="dropbtn">Help</a>
      <div class="dropdown-content">
        <a href="{% url 'help' %}">FAQ/Contact Us</a>
        <a class="active" href="{% url 'password_reset' %}">Forgot password?</a>
    </li>
    </div>
  </ul>
</nav>
<link href='https://fonts.googleapis.com/css?family=Taviraj' rel='stylesheet'>
<div style="margin-left:208px;">

  <h1><img src="{% static 'cardinalpanic.jpg' %}" height="200" width="200" alt="Logo">Forgot Your Password?</h1>

  <p class="p1">Enter your @plattsburgh.edu email below, and we'll email instructions for setting a new one!</p>
  <div>
    <form method="POST" class="myForm">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="myButton" style="height:50px; margin-top:40px;" type="submit">Submit</button>
    </form>
  </div>
  {% endblock %}
  <h1 style="text-align:center; border:2px solid Crimson;"> </h1>
</div>

</html>