{% extends "base2.html" %}
{% load static %}
{% block content %}
<link href='https://fonts.googleapis.com/css?family=Taviraj' rel='stylesheet'>
<style>
  * {

    box-sizing: border-box;


  }

  h1 {
    color: white;
    font-family: 'Taviraj';
    font-size: 40px;
  }

  .column {
    float: left;
    padding: 10px;
    height: 1000px;
    font-family: 'Taviraj';
  }

  /* Left and right column */
  .column.side {
    background: url("{% static 'redandblackabstract.jpg' %}");
    width: 25%;
  }

  /* Middle column */
  .column.middle {
    width: 50%;
    color: white;
    background: rgb(17, 16, 16);
    background: linear-gradient(180deg, rgba(17, 16, 16, 1) 0%, rgba(60, 46, 46, 0.938813025210084) 36%, rgba(215, 29, 38, 0.9360119047619048) 100%);
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media (max-width: 600px) {

    .column.side,
    .column.middle {
      width: 100%;
    }
  }

  h3 {
    text-align: left;
    font-size: 30px;
    color: #800000;
  }
</style>

<body>
  <div class="row">
    <div class="column side"></div>

    <div class="column middle">
      <center>
        <h1 style="margin-top:100px;">Change your password</h1>
        <p>You can change your password using the following form:</p>

        <form class="myForm" style="max-width:40%;" method="POST">
          {% csrf_token %}
          <input name="old_password" placeholder="Old Password" type="password" required="true">
          <br>
          <input name="new_password1" placeholder="New Password" type="password" required="true">
          <br>
          <input name="new_password2" placeholder="New Password" type="password" required="true">
          <br>
          {% for field in form %}
          {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
          {% endfor %}
          {% endfor %}
          <button type="submit">Update Password</button>
        </form>

      </center>
    </div>
    <div class="column side"></div>
  </div>
</body>

{% endblock content %}