{% extends "base.html" %}
{% load static %} 
<!DOCTYPE html>
<html>
{% block content %}
<head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Taviraj' rel='stylesheet'>
    
    <style>
      .p1 {
        font-family: 'Taviraj';font-size: 22px;
        }
     
  </style>
  </head>
  
  <nav>
    <ul>
      <li><a href="{% url 'login' %}">Log in</a></li>
      <li><a href="{% url 'register' %}">Register</a></li>
      <li><a href="{% url 'about' %}">About Us</a></li>
      <li class="dropdown">
          <a class="active" href="javascript:void(0)" class="dropbtn">Help</a>
          <div class="dropdown-content">    
              <a href="{% url 'help' %}">FAQ/Contact Us</a>
              <a class="active" href="{% url 'password_reset' %}">Forgot password?</a></li>
          </div>
    </ul>
  </nav>
  <div style="margin-left:208px;">
     
     <h1><p><img src="{% static 'cardinalhappy.jpg' %}" height="200" width="200" alt="Logo">Email Sent!</p></h1>
      
        <p class="p1">We've emailed you instructions for setting your password. You should receive the email shortly!</p>
      {% endblock %}
	  
  </div>
</html>